%h2 Edit Movie

= form_for @movie,:method => :put, multipart: true do |f|  # multipart: true para suportar uploads de arquivo

  %div
    = f.label :title, 'Title'
    = f.text_field :title

  %div
    = f.label :rating, 'Rating'
    = f.select :rating, ['L', '10', '12', '14', '16', '18']

  %div
    = f.label :release_date, 'Released On'
    = f.date_select :release_date

  %div
    = f.label :description, 'Description'
    = f.text_area :description

  %div
    = f.label :image, 'Upload Image'

    - if @movie.image.attached?  # Verifica se já há uma imagem associada ao filme
      %div
        = image_tag url_for(@movie.image), alt: "Current Movie Image", width: 200  # Exibe a imagem existente com largura de 200px

    = f.file_field :image  # Campo de upload para nova imagem

  %div
    = f.submit 'Save Changes'

  %div
    = link_to 'Back to movie list', movies_path
